{% extends "::base.html.twig" %}

{% block title %}ByHoursTestBundle:Accommodation:showAccommodation{% endblock %}

{% block body %}
<h1>Welcome to the Accommodation:showAccommodation page</h1>
{% endblock %}
